<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="shortcut icon" href="../static/favicon.ico">

    <style>

    </style>
</head>

<body>


    <form method="post" id="login_form" action="{{ url_for('login') }}" style="display: flex; flex-direction:column; width: 300px;">
        <input class="username" name="username" type="text">
        <input class="passwd" name="passwd" type="password">
        <button type="submit" form="login_form">Log in</button>
    </form>

</body>

</html>