<!DOCTYPE html>
<html>

<body>

    <form method="post" action="" style="display: flex; flex-direction:column; width: 300px;">
        <input class="username" type="text">
        <input class="passwd" type="password">
        <button type="submit" onclick="login()">Log in</button>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function login(){
            var username = document.getElementsByClassName("username");
            var passwd = document.getElementsByClassName("passwd");
            console.log("Credits:" +username +passwd); //REMOVE AFTER
        }

    </script>
</body>

</html>